@import "mixins";

.nav {
  z-index: 99;
  @include mobile {
    height: 160px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: radial-gradient(
      circle at top center,
      transparent,
      transparent 28px,
      var(--card-bg) 28px,
      var(--card-bg)
    );
    border-color: var(--card-bg);
    border-radius: 8px 8px 0 0;
  }
  transition: bottom 0.2s ease-in-out;
}

.nav_open {
  @include mobile {
    bottom: 0;
  }
  .nav_expand_button {
    @include mobile {
      transform: rotate(180deg);
    }
  }
}

.nav_closed {
  @include mobile {
    bottom: 96px - 160px;
  }

  .header {
    height: 60px;
    overflow: hidden;
  }
}

.nav_expand_button {
  @include mobile {
    @include flex(center);

    width: 46px;
    height: 46px;

    position: absolute;
    top: -23px;
    left: 0;
    right: 0;

    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background: var(--button-primary-bg);
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
  }
}

.header {
  @include flex(space-between, left);

  margin-bottom: (40px - 14px);
  transition: height 0.2s ease-in-out;

  @include mobile {
    @include flex(space-around, flex-start);
    flex-wrap: wrap;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 0;
    z-index: 10;
    box-shadow: 0px -10px 20px rgb(0 0 0 / 3%);

    * {
      color: var(--text);
    }
  }
}

/* menu item */
.item {
  color: var(--menu-text);
  fill: var(--menu-text);

  &:hover {
    text-decoration: none;
  }
  @include mobile {
    svg {
      padding: 15px;
      width: 56px;
      height: 56px;
      border: 1px solid var(--card-border);
      border-radius: 12px;
      background: var(--bg);
    }
  }
}

.menu {
  @include mobile {
    margin-top: 64px;
    background: var(--bg);
  }
}

.menuTitle {
  @include flex(space-between);
  font-size: 20px;
  font-weight: 300;
  padding: 0 20px;
  height: var(--mobile-tab-height);
  line-height: var(--header-height);
  fill: var(--text);
  a {
    color: var(--text);
  }
  strong {
    font-weight: 700;
  }
  @include desktop {
    display: none;
  }
}

.menuList {
  @include mobile {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 24px;
    background: var(--card-bg);
  }
}

.mobileItem {
  @include flex-column(center, center);
  flex: 1 1 21%;
  align-self: flex-start;
  height: var(--mobile-tab-height);
  padding: 8px;
  color: var(--text);
  fill: var(--text);
  opacity: 0.3;
  font-size: 8px;
  font-weight: var(--bold);
  &.active {
    opacity: 1;
  }

  &:hover {
    text-decoration: none;
  }

  @include desktop {
    display: none;
  }
}

.logo {
  flex: 1;
  display: block;
  font-size: 18px;
  font-weight: 300;
  padding: 0 20px;
  line-height: var(--header-height);
  color: var(--text);

  strong {
    font-weight: 500;
  }

  img {
    height: 24px;
    margin-right: 4px;
  }

  @include mobile {
    display: none;
  }
}

.link {
  @include flex(flex-start);

  gap: 10px;
  opacity: 0.75;
  padding: 14px 20px;
  transition: opacity var(--transition);

  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
    font-weight: var(--bold);
  }

  @include mobile {
    @include flex-column(flex-start);
    opacity: 1;

    font-size: var(--font-size-small);
    font-weight: var(--normal);
    color: var(--text);
    fill: var(--text);
  }
}

/* mobile */
.toggle {
  opacity: 0.3;
  &.active {
    opacity: 1;
  }
  @include desktop {
    display: none;
  }
}
